@(user: model.User)

<head>
    <meta charset="UTF-8">
    <title>Trivial</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
    <h2>Modifica tus datos aquí</h2>
        <h3>Datos personales</h3>
    @helper.form(routes.Application.modificarDatos) {
        <p>
            Usuario: @user.get_id()
        </p>
        <p>
            Contraseña: <input type="password" name="password" placeholder="Contraseña">
        </p>

        <p>
            Contraseña de nuevo: <input type="password" name="password2" placeholder="Repite">
        </p>
        <p>
            <button type="submit">Modificar datos</button>
        </p>
        <h3>Estadísticas</h3>

        <p>Partidas jugadas: @user.getPartidasJugadas()</p>
        <p>Partidas ganadas: @user.getPartidasganadas()</p>

    }
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


    <a href="@routes.Application.principal()">Volver</a>
</body>





