@(loginform: Form[Application.Login])
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bienvenido al trivial</h1>
        <h2>Introduzca sus datos para iniciar sesión</h2>

        @helper.form(action=routes.Application.authenticate) {

            @helper.inputText(loginform("id"), 'placeholder -> "Usuario")
            @helper.inputPassword(loginform("password"), 'placeholder -> "Contraseña")
            <p>
                <button type="submit">Iniciar sesión</button>
            </p>
        }
        <a href="/register">¿No tiene cuenta? Regístrese aquí</a>
    </body>
</html>