@(user: model.User)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Trivial</title>
    </head>
    <body>
        <h1>Bienvenido, @user.get_id()</h1>

        <table>
            <td>
             @helper.form(routes.Application.irDatos(user.get_id())) {
                 <p>
                     <button type="submit">Consultar datos</button>
                 </p>
            }

            </td>
            <td>
               @if(user.getAdmin){<a href="/users">Gestionar usuarios</a> }
            </td>
            <td>
                <a href='/logout'>Cerrar sesión</a>
            </td>
        </table>
    </body>
</html>
