@(form: Form[Application.Register])
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Bienvenido al trivial</h1>
        <h2>Aquí puede registrarse para luego comenzar a jugar</h2>

        @helper.form(action=routes.Application.register) {

            <p>
                <input type="id" name="id" placeholder="Usuario">
            </p>
            <p>
                <input type="password" name="password" placeholder="Contraseña">
            </p>
            <p>
                <input type="password" name="password2" placeholder="Repita">
            </p>
            <p>
                <button type="submit">Registrarse</button>
            </p>
        }
        <a href="@routes.Application.login()">Volver</a>
    </body>
</html>